<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_registro_usuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Hola usuario</title>
</head>
<body>

    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido a Legendary Motosport</h2>
                <p>Si ya tienes un a cuenta por favor inicia sesion aqui</p>
                <button class="sign-up-btn">Iniciar sesion</button>
            </div>
        </div>
        <form action="/signup" method="POST" class="formulario">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="boder_icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="boder_icon">
                    <i class='bx bxl-google' ></i>
                </div>
                <div class="boder_icon">
                    <i class='bx bxl-twitter' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crear una cuenta gratis</p>
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellidopat" placeholder="Apellido paterno">
            <input type="text" name="apellidomat" placeholder="Apellido materno">
            <input type="text" name="colonia" placeholder="Colonia">
            <input type="text" name="calle" placeholder="Calle">
            <input type="number" name="numerointerior" placeholder="Numero interior">
            <input type="numbre" name="cp" placeholder="Codigo postal">
            <input type="number" name="telefono" placeholder="Numero de telefono">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="password" name="confirm_password" placeholder="Confirmar contraseña">
            <input type="submit" value="Registrarse">
        </form>
    </div>

    <div class="container-form sign-in">
        <form action="/login" method="POST" class="formulario">
            <h2 class="create-account">Iniciar sesion</h2>
            <div class="iconos">
                <div class="boder_icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="boder_icon">
                    <i class='bx bxl-google' ></i>
                </div>
                <div class="boder_icon">
                    <i class='bx bxl-twitter' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Aun no tienes cuenta?</p>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Contrasenia">
            <input type="submit" value="Iniciar Sesion">
        </form>
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido nuevamente</h2>
                <p>Si aun no tienes una cuenta por favor registrese aqui</p>
                <button class="sign-in-btn">Registrarse</button>
            </div>
        </div>
        
    </div>

    <script src="../static/js/script_registro_usuario.js"></script>
</body>
</html>